{% extends 'base.html' %}

{% block content %}

    <h2 class="page-title">Member details<span class="purple-accent">&#46;</span></h2>

    <fieldset class="container">
        <legend class="container-title">{{ member.last_name }}, {{ member.first_name }}</legend>
        <div class="container-content-details">   
            <p>Title: {{ member.title }}</p>
            <p>Pronouns: {{ member.pronouns }}</p>
            <p>Date of birth: {{ member.dob }}</p>
            <p>Membership number: {{ member.id }}</p>
            <p>Notes: {{ member.notes }}</p>
            <div class="buttons-pane">
                <a href="/members/{{ member.id }}/edit"><button>Edit details</button></a>
                <a href="/members/{{ member.id }}/delete"><button class="delete-button">Delete</button></a>
            </div>
        </div>
    </fieldset>

    <fieldset class="container">
        <legend class="container-title">Member's bookings:</legend>
        <ul class="container-content-tiles">
        {% for booking in bookings %}
            <li>
                <p>{{ booking.fit_class.name }}</p>
                <p>{{ booking.fit_class.date }}</p>
                <p>{{ booking.fit_class.time }}</p>
                <div class="buttons-pane">    
                    <a href="/bookings/{{ booking.id }}/edit"><button>Edit booking</button></a>
                    <a href="/bookings/{{ booking.id }}/delete"><button class="delete-button">Delete</button></a> 
                </div>          
            </li>
        {% endfor %}
        </ul>
{% endblock content %}