{% extends 'base.html' %}

{% block content %}

    <h1>Member details</h1><br> <!-- Remove this space when doing CSS -->

    <p>Membership number: {{ member.id }}</p>
    <p>Title: {{ member.title }}</p>
    <p>Pronouns: {{ member.pronouns }}</p>
    <p>{{ member.last_name }}, {{ member.first_name }}</p>
    <p>Date of birth: {{ member.dob }}</p>
    <p>Notes: {{ member.notes }}</p>

    <a href="/members/{{ member.id }}/edit"><button>Edit details</button></a>
    <a href="/members/{{ member.id }}/bookings"><button>Member bookings</button></a>
    <a href="/members/{{ member.id }}/delete"><button> Delete ❌ </button></a>

{% endblock content %}