{% extends 'base.html' %}

{% block content %}

    <h1>Add new class</h1>

    <form action="/templates/members/add_member.html" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">

        <label for="category">Category:</label>
        <input type="text" name="category" id="category">

        <label for="instructor">Instructor:</label>
        <input type="text" name="instructor" id="instructor">

        <label for="date">Date:</label>
        <input type="date" name="date" id="date">

        <label for="time">Time:</label>
        <input type="time" name="time" id="time">

        <label for="location">Location</label>
        <input type="text" name="location" id="location">

        <button type="submit">Add class</button>
    </form>

{% endblock content %}