{% extends 'base.html' %}

{% block content %}
    
    <h2 class="page-title">Classes<span class="purple-accent">&#46;</span></h2>

    <fieldset class="container">
        <legend class="container-title">Add new class</legend>
        <form class="container-content-form" action="/classes/add" method="post">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">

            <label for="location">Location:</label>
            <input type="text" name="location" id="location">

            <label for="category">Category:</label>
            <select name="category" id="category">
                <option value="sports">Sports</option>
                <option value="wellness">Wellness</option>
                <option value="cardio">Cardio</option>
                <option value="resistance">Resistance</option>
                <option value="dance">Dance</option>
            </select>

            <label for="date">Date:</label>
            <input type="date" name="date" id="date">

            <label for="instructor">Instructor:</label>
            <select name="instructor" id="instructor">
                {% for instructor in instructors %}
                <option value="{{ instructor.id }}">{{ instructor.name }}</option>               
                {% endfor %}
            </select>

            <label for="time">Time:</label>
            <input type="time" name="time" id="time">

            <label for="capacity">Capacity:</label>
            <input type="number" name="capacity" id="capacity" min="1" max="99">

            <button type="submit">Add class</button>
        </form>
    </fieldset>
    <fieldset class="container">
    <legend class="container-title">Current classes</legend>
        <ul class="container-content-tiles">
        {% for fit_class in fit_classes %}
            <li>
                <a href="/classes/{{ fit_class.id }}">{{ fit_class.name }}</a>
                <p>{{ fit_class.date }}</p>
                <p>{{ fit_class.time }}</p>
                <p>{{ fit_class.instructor.name }}</p>
                {% if fit_class.capacity - fit_class.attendees <= 0 %}
                    <p>Spaces available: <span class="limited-spaces">Class full</span></p>
                {% elif fit_class.capacity - fit_class.attendees <= 2 %}
                    <p>Spaces available: <span class="limited-spaces">{{ fit_class.capacity - fit_class.attendees }}</span></p>
                {% else %}
                    <p>Spaces available: {{ fit_class.capacity - fit_class.attendees }}</p>
                {% endif %}
            </li>    
        {% endfor %}
        </ul>
    </fieldset>
{% endblock content %}