{% extends 'base.html' %}

{% block content %}
    
    <h2 class="page-title">Class details<span class="purple-accent">&#46;</span></h2>
    
    <fieldset class="container">
        <legend class="container-title">{{ fit_class.name }}</legend>
        <div class="container-content-details">
            <p>Location: {{ fit_class.location }}</p>
            <p>Instructor: {{ fit_class.instructor.name }}</p>
            <p>Category: {{ fit_class.category }}</p>
            <p>Date: {{ fit_class.date }}</p>
            <p>Time: {{ fit_class.time }}</p>
            <p>Capacity: {{ fit_class.capacity }}</p>
            <div class="buttons-pane">
                <a href="/classes/{{ fit_class.id }}/edit"><button>Edit details</button></a>
                <a href="/classes/{{ fit_class.id }}/delete"><button class="delete-button">Delete</button></a>
            </div>
        </div>
    </fieldset>
    <fieldset class="container">
        <legend class="container-title">Book members onto class</legend>
        <form class="container-content-form" id="book-class" action="/bookings/class/{{ fit_class.id }}/create" method="post">
            <input type="hidden" name="fit_class_id" value="{{ fit_class.id }}">
            
            <label for="member">Select member:</label>
            <select name="member_id" id="member">
                {% for member in members %}
                    <option value="{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</option>
                {% endfor %}
            </select>

            <label for="staff_member">Staff member:</label>
            <input type="text" name="staff_member" id="staff_member">

            <button type="submit">Book member on class</button>
        </form>
    </fieldset>
    <fieldset class="container">
        <legend class="container-title">Attendees: {{ fit_class.attendees }} / {{ fit_class.capacity }}</legend>
            <ul class="container-content-tiles">
                {% for booking in bookings %}
                    <li>
                        <a href="/members/{{ booking.member.id }}">{{ booking.member.first_name }} {{ booking.member.last_name }}</a>
                        <a href="/bookings/class{{ fit_class.id }}/{{ booking.id }}/delete"><button class="delete-button">Remove</button></a>                
                    </li>
                {% endfor %}
            </ul>
        </fieldset> 
{% endblock content %}