{% extends 'base.html' %}

{% block content %}
    
    <h1>Class details</h1>

    <p>Name: {{ fit_class.name }}</p>
    <p>Category: {{ fit_class.category }}</p>
    <p>Instructor: {{ fit_class.instructor }}</p>
    <p>Date: {{ fit_class.date }}</p>
    <p>Time: {{ fit_class.time }}</p>
    <p>Location: {{ fit_class.location }}</p>

    <a href="/classes/{{ fit_class.id }}/edit"><button>Edit details</button></a>
    <a href="/classes/{{ fit_class.id }}/delete"><button>Delete ❌ </button></a>

    <form action="/bookings/create" method="post">
        <input type="hidden" name="fit_class_id" value="{{ fit_class.id }}">
        
        <label for="member">Book members onto class:</label>
        <select name="member_id" id="member">
            {% for member in members %}
                <option value="{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</option>
            {% endfor %}
        </select>

        <label for="staff_member">Staff member:</label>
        <input type="text" name="staff_member" id="staff_member">

        <button type="submit">Book member on class</button>
    </form>

{% endblock content %}