{% extends 'base.html' %}

{% block content %}

    <h1>Create booking</h1>

    <form action="/bookings/new_booking" method="post">
        <label for="member">Select member:</label>
        <select name="member" id="member" >
            <option value="member_1">Goodman, White</option>
            <option value="member_2">Jones, Me'Shell</option>
        </select>

        <label for="fit_class">Select class:</label>
        <select name="fit_class" id="fit_class">
            <option value="fit_class_1">Dodgeball</option>
            <option value="fit_class_2">Wrench ducking</option>
        </select>

        <button type="submit">Create booking</button>
    </form>

{% endblock content %}