<html>
    <head>
        <title>BlogoGym Admin App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/reset.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
    </head>
    <body>
        <header>
            <img id="site-logo" src="/static/images/logo.png" alt="Worldogym logo">
            <a href="/"><h1 id="site-name">Blogogym</h1></a> 
            <h2 id="slogan">..."where your pain is our pleasure!"</h2>
            <nav>
                <ul>
                    <li>
                        <a href="/members">Members</a>
                    </li>
                    <li>
                        <a href="/fit_classes">Classes</a>
                    </li>
                    <li>
                        <a href="/bookings">Bookings</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
        {% block content %}
            
        {% endblock content %}

        </main>
    </body>
    <footer>
        &copy; sponniah_tech, 2021. 
    </footer>
</html>