{% extends 'base.html' %}

{% block content %}

    <h2 class="page-title">Welcome to the WorldoGym Admin System</h2>

    <fieldset class="container">
        <legend class="container-title">Upcoming classes</legend>
        <ul class="container-content">
            {% for fit_class in fit_classes %}
                <li>
                    <a href="/classes/{{ fit_class.id }}">{{ fit_class.name }}</a> 
                    <p>Date: {{ fit_class.date }}</p>
                    <p>Time: {{ fit_class.time }}</p>
                    <p>Location: {{ fit_class.location }}</p>
                    <p>Instructor: {{ fit_class.instructor }}</p>
                </li>    
            {% endfor %}
        </ul>
    </fieldset>
    <!-- </section> -->
{% endblock content %}

